// body {
//   min-height: 100%;
// }
// footer {
//   background-color: #ddd;
//   border-top: 1px solid #bbb;
//   text-align: center;
//   position:absolute;
//   bottom:0;
// }
footer{
  background-color: #ddd;
  border-top: 1px solid #bbb;
  flex-shrink: 0;
}
#btmFooter {
  align-self: flex-end;
}

mat-toolbar-row {
  justify-content: space-between;
}
