<div>
  <div *ngFor="let task of tasks">
    <mat-card class="mat-card">
      <!-- <mat-card-title>task.pyLabel</mat-card-title> -->
      <mat-card-content >
        <!-- <div class="column align-items-center"> -->
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="36px"  matTooltip="{{task.pyAssignmentStatus}} -- Ugency-> {{task.pxUrgencyAssign}}"  >
              <i class="material-icons md-18  vertical-align-middle padding-bottom-3" [ngStyle]="{'color':calcColor(task.pxUrgencyAssign)}">
                  lens
                  </i>
          <!-- {{calcColor(task.pxUrgencyAssign)}}--
            {{ task.pxUrgencyAssign }} -->
          </div>
          <div fxFlex="75" fxLayoutAlign="start center" >
          <div fxLayout="column"  matTooltip="{{task.TaskType}} - {{task.pxRefObjectInsName}} &#10;  Status -- {{task.pyAssignmentStatus}}" >
            <div fxFlex class='text-menu'>{{ task.pyLabel }}</div>
            <div fxFlex class='text-caption'>{{ task.pxTaskLabel }}</div>
          </div>
        </div>
          <div fxLayout="row"  fxLayoutAlign="end">
            {{task.pyAssignmentStatus}}
          </div>
          <!-- <i class="material-icons green">
                mood
              </i>
              Overall account status -->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <table mat-table [dataSource]="unifiedtasklist$" matSort>

      <ng-container matColumnDef="pxRefObjectInsName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Case</th>
          <td mat-cell *matCellDef="let work">{{work.pxRefObjectInsName}} </td>
      </ng-container>

      <ng-container matColumnDef="pyAssignmentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let work">{{work.pyAssignmentStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="pyLabel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let work">{{work.pyLabel}} </td>
      </ng-container>


      <ng-container matColumnDef="pxUrgencyAssign">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Urgency</th>
        <td mat-cell *matCellDef="let work">{{work.pxUrgencyAssign}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="this.openAssignment(row)"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 500]" showFirstLastButtons></mat-paginator>
  -->
