<div
*ngIf="bLoggedIn == true"
  fxFlex
  fxLayout="row"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="pace-around start"
>
  <!-- <mat-row></mat-row> -->
  <!-- <app-worklist></app-worklist> -->

  <!-- <ng-container>
    <app-card fxFlex="66" cardHeadline="MPG Recent Requests">
        <app-worklist></app-worklist>
    </app-card>
</ng-container> -->

  <mat-card fxFlex="33" class="pgCard">
    <mat-card-header>
    <mat-card-title>Account Status</mat-card-title>

  </mat-card-header>
    <mat-card-content>
      <div class="row align-items-center">
        <i class="material-icons green">
          mood
        </i>
        Overall account status

        <div class="material-label mdl-badge" data-badge="4">Inbox</div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <div mat-card-avatar class="material-label mdl-badge" data-badge="4">xxxxxxxxx</div> -->


  <mat-card fxFlex="120" class="pgCard">
    <mat-card-header>

    <mat-card-title>Open Tasks  <mat-icon style="padding: 0px 10px 0px 20px;">home</mat-icon> </mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <app-unifiedtasklist></app-unifiedtasklist>
    </mat-card-content>
  </mat-card>
</div>
<div
*ngIf="bLoggedIn == true"
  fxFlex
  fxLayout="row"
>
  <mat-card class="pgCard">
      <mat-card-title>Recent Requests</mat-card-title>
      <mat-card-content>
        <app-worklist></app-worklist>
      </mat-card-content>
    </mat-card>
  <!--
  <ng-container *ngFor="let cards of [1, 2, 3]; let i = index">
    <app-card
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      cardHeadline="Recent Requests"
      cardSubHeadline=""
      cardName="foobar"
      cardIndex="{{ i }}"
    ></app-card>
  </ng-container> -->
</div>
