<!-- <div class="container" class="border"> -->
  <!-- <div layout="row" class="border row">
    <div flex class="border row">
      Column 1
    </div>
    <div flex class="border row">
        <p>Column 2</p>
      </div>


  </div> -->
  <!-- <div layout="column" >
      <div flex class="border column">First item in row</div>
      <div flex class="border column">Second item in row</div>
    </div>
  <div layout="row" layout-sm="row" class="border row">
    <h1>second row</h1>
</div> -->
<!-- </div> -->
<div class="container">
<div fxLayout="column">
    <div ><img src='https://dummyimage.com/200x60/00ff1e/000000.png&text=KPI+Placeholder' alt='image'></div>
    <div >Second item in row</div>
    <div ><img src='https://dummyimage.com/mediumrectangle' alt='image'></div>

  </div>
  <div fxlayout="column">
    <div flex>First item in column</div>
    <div flex>Second item in column</div>
  </div>
</div>
