@import  "../assets/mdFontStyles.css";

body, html, app-root {
  height: 100%;
}

app-root{
  display: flex;
  flex-flow: column;
}

::ng-deep mat-toolbar {
  mat-primary{
  background: #dddddd;
  color: #000;
  }
}

::host /deep/ text-caption{}
